In [2]:
import skfuzzy as fuzz
import pandas as pd
import numpy as np
import re
df = pd.read_csv('fuzzy_dataset.csv')

In [3]:
def transform_value(value):
    try:
        return int(str(value).rstrip(','))
    except:
        return str(value).rstrip(',')
    
medidas = df\
.groupby(by=['integralizacao'])\
.agg([np.min, np.mean, np.max])\
.transpose()\
.reset_index()\
.applymap(str)\
.apply(lambda x: x + ',')\
.groupby('level_0')\
.apply(lambda x: x.sum())\
.rename(columns=lambda x: transform_value(x))

medidas['level_0'] = medidas['level_0'].apply(lambda x: x.split(',')[0] )
drop = ['id', 'Unnamed: 0']
medidas = medidas[~medidas['level_0'].isin(drop)]


valores = df\
.applymap(str)\
.apply(lambda x: x + ',')\
.groupby(by=['integralizacao'])\
.agg([np.sum])\
.transpose()\
.reset_index()\
.rename(columns=lambda x: transform_value(x))

valores = valores[~valores['level_0'].isin(drop)]

def gen_dict(table):
    table.index = table['level_0']
    table_dict = table\
    .iloc[:, 2:]\
    .to_dict()
    
    for key in table_dict.keys():
        inner_dict = table_dict[key]
        for key2 in inner_dict.keys():
            inner_dict[key2] = inner_dict[key2].split(',')
            inner_dict[key2] = [ x for x in inner_dict[key2] if re.match("^(?=.)([+-]?([0-9]*)(\.([0-9]+))?)$", x) is not None ]
            inner_dict[key2] = [ round(float(x), 2) for x in inner_dict[key2] ]
            inner_dict[key2] = sorted(list(set(inner_dict[key2])))
            
    return table_dict

In [4]:
import seaborn as sns

In [5]:
def flatten_dict(df):
    tmp = gen_dict(df)
    rows = []
    for key in sorted(tmp.keys()):
        for key2 in sorted(tmp[key].keys()):
            for value in tmp[key][key2]:
                row = {
                    "integralizacao": key,
                    "campo": key2,
                    "valor": value
                }
                rows.append(row)
    return pd.DataFrame(rows)

dataplot = flatten_dict(valores)
dataplot = dataplot[dataplot['campo'].str.contains('media')]
dataplot = dataplot\
.groupby(by=['integralizacao', 'campo'])\
.agg([np.mean])\
.reset_index()
dataplot.columns = dataplot.columns.get_level_values(0)
dataplot['valor'] = dataplot['valor'].apply(lambda x: 1 if x >= 6.0 else 0)
dataplot

    integralizacao              campo  valor
0                0           media_NC      0
1                0           media_NE      0
2                0   media_matematica      0
3                0  media_programacao      0
4                1           media_NC      0
5                1           media_NE      0
6                1   media_matematica      0
7                1  media_programacao      0
8                2           media_NC      1
9                2           media_NE      0
10               2   media_matematica      0
11               2  media_programacao      1
12               3           media_NC      1
13               3           media_NE      0
14               3   media_matematica      0
15               3  media_programacao      1
16               4           media_NC      0
17               4           media_NE      1
18               4   media_matematica      0
19               4  media_programacao      1
20               5           media_NC      0
21               5           media_NE      1
22               5   media_matematica      0
23               5  media_programacao      1
24               6           media_NC      1
25               6           media_NE      1
26               6   media_matematica      0
27               6  media_programacao      1
28               7           media_NC      1
29               7           media_NE      1
30               7   media_matematica      1
31               7  media_programacao      1
32               8           media_NC      1
33               8           media_NE      1
34               8   media_matematica      1
35               8  media_programacao      1
36               9           media_NC      1
37               9           media_NE      1
38               9   media_matematica      1
39               9  media_programacao      1
40              10           media_NC      1
41              10           media_NE      1
42              10   media_matematica      1
43              10  media_programacao      1

In [6]:
import pandas as pd  
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

def regressao(df, idx):
    rows = []
    tmp = df[df['integralizacao']==idx].iloc[:, 3:]
    for item in tmp.columns:
        for item2 in tmp.columns:
            if item != item2:
                tmp2 = tmp[[item, item2]].dropna()
                X = tmp2[item].values.reshape(-1, 1)
                y = tmp2[item2].values.reshape(-1, 1)
                X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
                regressor = LinearRegression()
                regressor.fit(X_train, y_train)
                y_pred = regressor.predict(X_test)
                row = { 'mse' : metrics.mean_absolute_error(y_test, y_pred),
                       'a' : item,
                       'b' : item2 }
                rows.append(row)
    tmp_df = pd.DataFrame(rows).sort_values(by='mse')
    tmp_df['a'] = tmp_df['a'].combine(tmp_df['b'], lambda x,y: x + ',' + y)
    tmp_df = tmp_df[['mse', 'a']]
    tmp_df = tmp_df[tmp_df['mse'] != 0]
    return tmp_df.head(5)

In [7]:
result = regressao(df, 0)
result['integralizacao'] = 0
for item in set(df['integralizacao'].values):
    if item != 0:
        tmp = regressao(df, item)
        tmp['integralizacao'] = item
        result = result.append(tmp)

In [8]:
result['mse'] = result['mse'].round(2)
result

     mse                                                a  integralizacao
2   0.48                       media_programacao,media_NC               0
24  0.50                       media_NC,media_programacao               0
61  0.53            reprovacoes_NC,reprovacoes_matematica               0
47  0.70   reprovacoes_matematica,quantidade_trancamentos               0
15  0.73         media_matematica,quantidade_trancamentos               0
61  0.67            reprovacoes_NC,reprovacoes_matematica               1
63  0.69           reprovacoes_NC,quantidade_trancamentos               1
31  0.70                 media_NC,quantidade_trancamentos               1
24  0.71                       media_NC,media_programacao               1
2   0.73                       media_programacao,media_NC               1
39  0.50  reprovacoes_programacao,quantidade_trancamentos               2
7   0.50        media_programacao,quantidade_trancamentos               2
63  0.55           reprovacoes_NC,quantidade_trancamentos               2
31  0.55                 media_NC,quantidade_trancamentos               2
16  0.58                       media_NE,media_programacao               2
15  0.47         media_matematica,quantidade_trancamentos               3
12  0.49          media_matematica,reprovacoes_matematica               3
28  0.49                  media_NC,reprovacoes_matematica               3
61  0.49            reprovacoes_NC,reprovacoes_matematica               3
55  0.51           reprovacoes_NE,quantidade_trancamentos               3
23  0.34                 media_NE,quantidade_trancamentos               4
55  0.35           reprovacoes_NE,quantidade_trancamentos               4
7   0.35        media_programacao,quantidade_trancamentos               4
39  0.37  reprovacoes_programacao,quantidade_trancamentos               4
53  0.39            reprovacoes_NE,reprovacoes_matematica               4
47  0.20   reprovacoes_matematica,quantidade_trancamentos               5
15  0.20         media_matematica,quantidade_trancamentos               5
39  0.23  reprovacoes_programacao,quantidade_trancamentos               5
7   0.25        media_programacao,quantidade_trancamentos               5
55  0.27           reprovacoes_NE,quantidade_trancamentos               5
63  0.17           reprovacoes_NC,quantidade_trancamentos               6
31  0.18                 media_NC,quantidade_trancamentos               6
23  0.21                 media_NE,quantidade_trancamentos               6
55  0.21           reprovacoes_NE,quantidade_trancamentos               6
7   0.22        media_programacao,quantidade_trancamentos               6
23  0.21                 media_NE,quantidade_trancamentos               7
55  0.22           reprovacoes_NE,quantidade_trancamentos               7
39  0.25  reprovacoes_programacao,quantidade_trancamentos               7
7   0.25        media_programacao,quantidade_trancamentos               7
12  0.25          media_matematica,reprovacoes_matematica               7
47  0.04   reprovacoes_matematica,quantidade_trancamentos               8
63  0.10           reprovacoes_NC,quantidade_trancamentos               8
31  0.10                 media_NC,quantidade_trancamentos               8
15  0.13         media_matematica,quantidade_trancamentos               8
55  0.15           reprovacoes_NE,quantidade_trancamentos               8
52  0.02           reprovacoes_NE,reprovacoes_programacao               9
37  0.02           reprovacoes_programacao,reprovacoes_NE               9
7   0.05        media_programacao,quantidade_trancamentos               9
23  0.06                 media_NE,quantidade_trancamentos               9
30  0.06                          media_NC,reprovacoes_NC               9
60  0.00           reprovacoes_NC,reprovacoes_programacao              10
38  0.00           reprovacoes_programacao,reprovacoes_NC              10
26  0.00                                media_NC,media_NE              10
6   0.05                 media_programacao,reprovacoes_NC              10
3   0.05        media_programacao,reprovacoes_programacao              10

In [9]:
df

,Unnamed: 0,id,integralizacao,media_programacao,media_matematica,media_NE,media_NC,reprovacoes_programacao,reprovacoes_matematica,reprovacoes_NE,reprovacoes_NC,quantidade_trancamentos
0,0,1,0,6.550000,7.300000,NaN,6.700000,1.0,0.0,NaN,1.0,1
1,1,1,1,5.400000,5.200000,3.800000,5.500000,6.0,1.0,1.0,7.0,1
2,2,1,2,4.956250,4.200000,4.709091,5.283333,12.0,1.0,9.0,4.0,1
3,3,1,3,4.822222,NaN,4.466667,6.028571,13.0,NaN,10.0,3.0,1
4,4,1,4,7.066667,6.900000,7.066667,6.900000,0.0,0.0,0.0,0.0,1
5,5,2,0,6.800000,4.000000,NaN,6.100000,1.0,1.0,NaN,2.0,0
6,6,2,1,7.600000,7.200000,NaN,7.680000,1.0,0.0,NaN,1.0,0
7,7,2,2,5.600000,6.850000,NaN,6.016667,2.0,0.0,NaN,2.0,0
8,8,2,3,7.200000,NaN,6.000000,7.500000,0.0,NaN,0.0,0.0,0
9,9,2,4,8.000000,NaN,8.950000,7.933333,1.0,NaN,0.0,1.0,0
10,10,2,5,8.316667,NaN,8.140000,9.200000,1.0,NaN,1.0,0.0,0
11,11,2,7,7.825000,9.100000,7.771429,8.650000,1.0,0.0,1.0,0.0,0
12,12,3,0,7.116667,2.850000,NaN,5.900000,2.0,2.0,NaN,5.0,0
13,13,3,2,7.766667,9.450000,NaN,8.440000,0.0,0.0,NaN,0.0,0
14,14,3,3,7.780000,NaN,7.300000,7.900000,0.0,NaN,0.0,0.0,0
15,15,3,4,8.080000,8.000000,8.050000,8.100000,0.0,0.0,0.0,0.0,0
16,16,3,5,6.880000,NaN,6.875000,6.900000,0.0,NaN,0.0,0.0,0
17,17,3,6,8.275000,NaN,8.200000,8.500000,0.0,NaN,0.0,0.0,0
18,18,3,7,8.500000,NaN,8.600000,8.475000,0.0,NaN,0.0,0.0,0
19,19,3,8,8.320000,5.100000,8.450000,6.233333,1.0,1.0,1.0,2.0,0
20,20,4,0,2.859091,4.300000,4.766667,3.244444,21.0,4.0,2.0,24.0,2
21,21,4,1,3.147059,5.000000,2.911111,3.588889,14.0,1.0,8.0,7.0,2
22,22,5,0,6.133333,3.400000,NaN,5.450000,1.0,1.0,NaN,2.0,0
23,23,5,1,5.316667,6.266667,NaN,5.740000,4.0,0.0,NaN,4.0,0
24,24,5,2,5.520000,NaN,5.300000,5.850000,4.0,NaN,3.0,1.0,0
25,25,5,3,5.787500,6.300000,5.266667,6.133333,3.0,0.0,2.0,1.0,0
26,26,5,4,6.655556,NaN,6.750000,6.466667,3.0,NaN,2.0,1.0,0
27,27,5,5,6.460000,NaN,6.460000,NaN,3.0,NaN,3.0,NaN,0
28,28,5,6,8.700000,NaN,9.100000,8.550000,0.0,NaN,0.0,0.0,0
29,29,6,0,6.466667,4.500000,NaN,5.975000,1.0,1.0,NaN,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2953,2953,824,2,8.800000,6.600000,NaN,8.250000,0.0,0.0,NaN,0.0,0
2954,2954,825,2,7.300000,6.400000,NaN,7.075000,0.0,0.0,NaN,0.0,0
2955,2955,826,1,5.233333,1.200000,NaN,4.225000,1.0,1.0,NaN,2.0,0
2956,2956,827,2,7.533333,4.400000,NaN,6.750000,0.0,1.0,NaN,1.0,0
2957,2957,828,1,5.700000,0.300000,NaN,4.350000,1.0,1.0,NaN,2.0,0
2958,2958,829,1,7.333333,5.600000,NaN,6.900000,1.0,1.0,NaN,2.0,0
2959,2959,830,2,9.433333,8.600000,NaN,9.225000,0.0,0.0,NaN,0.0,0
2960,2960,831,1,5.566667,3.200000,NaN,4.975000,1.0,1.0,NaN,2.0,0
2961,2961,832,2,7.900000,6.500000,NaN,7.550000,0.0,0.0,NaN,0.0,0
2962,2962,833,2,7.366667,7.800000,NaN,7.475000,0.0,0.0,NaN,0.0,0
2963,2963,834,1,7.533333,0.300000,NaN,5.725000,1.0,1.0,NaN,2.0,0
2964,2964,835,0,3.400000,NaN,NaN,3.400000,2.0,NaN,NaN,2.0,0
2965,2965,836,0,4.066667,0.800000,NaN,3.250000,2.0,1.0,NaN,3.0,0
2966,2966,837,2,8.233333,6.600000,NaN,7.825000,0.0,0.0,NaN,0.0,0
2967,2967,838,1,6.166667,4.900000,NaN,5.850000,1.0,1.0,NaN,2.0,0
2968,2968,839,1,5.100000,0.000000,NaN,3.825000,1.0,1.0,NaN,2.0,0
2969,2969,840,2,8.400000,6.100000,NaN,7.825000,0.0,0.0,NaN,0.0,0
2970,2970,841,0,1.266667,NaN,NaN,1.266667,3.0,NaN,NaN,3.0,0
2971,2971,842,0,5.666667,1.700000,NaN,4.675000,2.0,1.0,NaN,3.0,0
2972,2972,843,0,2.000000,0.100000,NaN,1.525000,2.0,1.0,NaN,3.0,0
2973,2973,844,2,8.533333,7.900000,NaN,8.375000,0.0,0.0,NaN,0.0,0
2974,2974,845,0,4.233333,1.400000,NaN,3.525000,2.0,1.0,NaN,3.0,0
2975,2975,846,2,8.833333,NaN,NaN,8.833333,0.0,NaN,NaN,0.0,0
2976,2976,847,0,3.933333,0.000000,NaN,2.950000,2.0,1.0,NaN,3.0,0
2977,2977,848,2,8.966667,7.200000,NaN,8.525000,0.0,0.0,NaN,0.0,0
2978,2978,849,0,5.166667,4.900000,NaN,5.100000,2.0,1.0,NaN,3.0,0
2979,2979,850,2,8.200000,6.300000,NaN,7.725000,0.0,0.0,NaN,0.0,0
2980,2980,851,0,3.333333,0.200000,NaN,2.550000,2.0,1.0,NaN,3.0,0
2981,2981,852,0,0.100000,0.000000,NaN,0.075000,3.0,1.0,NaN,4.0,0
2982,2982,853,0,4.800000,0.400000,NaN,3.700000,2.0,1.0,NaN,3.0,0