**Instituto de Informática - UFG**

Disciplina: Inteligência Artificial

Prof. Cedric Luiz de Carvalho

Grupo ( A )

---


Aluna(o): Luana Guedes Barros Martins

---

Aluna(o): Ruan Chaves Rodrigues

---

Aluna(o): Thiago Monteles de Souza

---

# Atividade Prática 04 - Sistemas Nebulosos

In [15]:
# Imports

import numpy as np
import pandas as pd
from functools import reduce

## Tratamento de dados: Ruan Chaves Rodrigues

A partir da base de dados dos alunos do curso de Ciência da Computação disponibilizada, deve-se projetar e implementar  um sistema nebuloso para classificar alunos do curso de Ciência da Computação. A classificação deverá ser feita incrementalmente do primeiro ao último período, e os resultados mostrados em um gráfico. Deve ser possível observar o desempenho de um aluno específico e também de todos os alunos em conjunto.

Para isso, defina as variáveis nebulosas descritas a seguir. As variáveis devem ter 3 faixas de valores.

**Entrada**:

- Média em disciplinas de programação
- Média em disciplinas básicas de matemática
- Média em disciplinas do núcleo específico
- Média em disciplinas do núcleo comum
- Quantidade de reprovações  em disciplinas de programação
- Quantidade de reprovações em disciplinas básicas de matemática
- Quantidade de reprovações em disciplinas do núcleo específico
- Quantidade de reprovações em disciplinas do núcleo comum
- Quantidade de trancamentos

**Saída**:

    Classificação do aluno.

In [16]:
dataset = pd.read_csv('baseDeDados.csv', sep=';')

/home/luana/miniconda3/envs/IA/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
def tabela_nucleo(info, matriz):
    info = info.split('\n')[1:]
    componentes = pd.DataFrame([x.split('\t') for x in info])\
    .drop(columns=[1,2,4])\
    .dropna()
    componentes = componentes.rename(columns={
        0: "codigo_componente",
        3: "nucleo"
    })
    componentes['codigo_matriz_curricular'] = matriz
    return componentes

In [3]:
# Dados da antiga matriz curricular.
info1 = """
IME0073	CÁLCULO 1 - 64h	DISCIPLINA	NC	OBRIG.
INF0109	INTRODUÇÃO À COMPUTAÇÃO - 64h	DISCIPLINA	NC	OBRIG.
INF0131	LÓGICA MATEMÁTICA - 64h	DISCIPLINA	NC	OBRIG.
INF0135	MATEMÁTICA DISCRETA - 64h	DISCIPLINA	NC	OBRIG.
INF0156	PROGRAMAÇÃO DE COMPUTADORES 1 CN - 64h	DISCIPLINA	NC	OBRIG.
IFI0105	FÍSICA PARA COMPUTAÇÃO - 64h	DISCIPLINA	NC	OBRIG.
IME0006	ÁLGEBRA LINEAR - 64h	DISCIPLINA	NC	OBRIG.
IME0078	CÁLCULO 2 - 64h	DISCIPLINA	NC	OBRIG.
INF0157	PROGRAMAÇÃO DE COMPUTADORES 2 CN - 64h	DISCIPLINA	NC	OBRIG.
INF0195	SISTEMAS DIGITAIS - 64h	DISCIPLINA	NC	OBRIG.
IME0232	PROBABILIDADE E ESTATÍSTICA - 64h	DISCIPLINA	NC	OBRIG.
INF0015	ARQUITETURA DE COMPUTADORES - 64h	DISCIPLINA	NC	OBRIG.
INF0063	ESTRUTURAS DE DADOS I - 64h	DISCIPLINA	NC	OBRIG.
INF0164	PROGRAMAÇÃO ORIENTADA A OBJETOS - 64h	DISCIPLINA	NC	OBRIG.
INF0210	TEORIA DOS GRAFOS - 64h	DISCIPLINA	NC	OBRIG.
INF0013	ANÁLISE E PROJETO DE ALGORITMOS - 64h	DISCIPLINA	NC	OBRIG.
INF0022	BANCO DE DADOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0064	ESTRUTURAS DE DADOS II - 64h	DISCIPLINA	NC	OBRIG.
INF0124	LINGUAGENS DE PROGRAMAÇÃO - 64h	DISCIPLINA	NC	OBRIG.
INF0148	PESQUISA OPERACIONAL - 64h	DISCIPLINA	NC	OBRIG.
INF0055	ENGENHARIA DE SOFTWARE - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0090	INTELIGÊNCIA ARTIFICIAL - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0182	REDES DE COMPUTADORES 1 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0201	SISTEMAS GERENCIADORES DE BD - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0204	SISTEMAS OPERACIONAIS 1 - 64h	DISCIPLINA	NC	OBRIG.
INF0052	ENGENHARIA DE REQUISITOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0127	LINGUAGENS FORMAIS E AUTÔMATOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0185	REDES DE COMPUTADORES 2 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0196	SISTEMAS DISTRIBUÍDOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0205	SISTEMAS OPERACIONAIS 2 - 64h	DISCIPLINA	NC	OBRIG.
INF0031	COMPILADORES - 64h	DISCIPLINA	NC	OBRIG.
INF0037	COMPUTAÇÃO GRÁFICA - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0171	PROJETO DE SOFTWARE - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0174	PROJETO FINAL DE CURSO 1 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0209	TEORIA DA COMPUTAÇÃO - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0220	TÓPICOS 1 - 64h	DISCIPLINA	NE-Obr	OBRIG.
FAD0013	DIREITO - 64h	DISCIPLINA	NC	OBRIG.
INF0039	COMPUTADOR E SOCIEDADE - 32h	DISCIPLINA	NC	OBRIG.
INF0050	EMPREENDEDORISMO - 64h	DISCIPLINA	NC	OBRIG.
INF0143	MULTIMÍDIA - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0177	PROJETO FINAL DE CURSO 2 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0191	SEGURANÇA E AUDITORIA DE SISTEMAS - 32h	DISCIPLINA	NC	OBRIG.
INF0222	TÓPICOS 2 - 64h	DISCIPLINA	NE-Obr	OBRIG.
"""

# Dados da nova matriz curricular.
info2 = """
IME0075	CÁLCULO 1A - 96h	DISCIPLINA	NC	OBRIG.
INF0283	COMPUTAÇÃO E SOCIEDADE - 32h	DISCIPLINA	NC	OBRIG.
INF0284	INTRODUÇÃO À PROGRAMAÇÃO - 128h	DISCIPLINA	NC	OBRIG.
INF0285	FUNDAMENTOS DE MATEMÁTICA PARA COMPUTAÇÃO - 64h	DISCIPLINA	NC	OBRIG.
IFI0080	FÍSICA I - 64h	DISCIPLINA	NE-Obr	OBRIG.
IME0080	CÁLCULO 2A - 96h	DISCIPLINA	NE-Obr	OBRIG.
IME0164	GEOMETRIA ANALÍTICA - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0286	ALGORITMOS E ESTRUTURAS DE DADOS 1 - 64h	DISCIPLINA	NC	OBRIG.
INF0305	LÓGICA MATEMÁTICA - 64h	DISCIPLINA	NC	OBRIG.
IFI0091	FÍSICA III - 64h	DISCIPLINA	NE-Obr	OBRIG.
IME0006	ÁLGEBRA LINEAR - 64h	DISCIPLINA	NC	OBRIG.
IME0293	PROBABILIDADE E ESTATÍSTICA A - 64h	DISCIPLINA	NC	OBRIG.
INF0287	ALGORITMOS E ESTRUTURAS DE DADOS 2 - 64h	DISCIPLINA	NC	OBRIG.
INF0330	METODOLOGIA DE PESQUISA EM COMPUTAÇÃO - 32h	DISCIPLINA	NE-Obr	OBRIG.
INF0331	MATEMÁTICA DISCRETA - 64h	DISCIPLINA	NE-Obr	OBRIG.
EMC0292	CIRCUITOS DIGITAIS - 64h	DISCIPLINA	NE-Obr	OBRIG.
IME0108	EQUAÇÕES DIFERENCIAIS ORDINÁRIAS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0164	PROGRAMAÇÃO ORIENTADA A OBJETOS - 64h	DISCIPLINA	NC	OBRIG.
INF0313	PESQUISA OPERACIONAL - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0332	TEORIA DOS GRAFOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
EMC0152	ELETRÔNICA PARA COMPUTAÇÃO - 96h	DISCIPLINA	NE-Obr	OBRIG.
IME0065	CÁLCULO NUMÉRICO - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0013	ANÁLISE E PROJETO DE ALGORITMOS - 64h	DISCIPLINA	NC	OBRIG.
INF0015	ARQUITETURA DE COMPUTADORES - 64h	DISCIPLINA	NC	OBRIG.
INF0334	SOFTWARE BÁSICO - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0022	BANCO DE DADOS - 64h	DISCIPLINA	NC	OBRIG.
INF0056	ENGENHARIA DE SOFTWARE - 64h	DISCIPLINA	NC	OBRIG.
INF0288	LINGUAGENS E PARADIGMAS DE PROGRAMAÇÃO - 64h	DISCIPLINA	NC	OBRIG.
INF0333	LINGUAGENS FORMAIS E AUTÔMATOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0336	SISTEMAS OPERACIONAIS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0335	INTRODUÇÃO À COMPUTABILIDADE E À COMPLEXIDADE COMPUTACIONAL - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0339	ENGENHARIA DE REQUISITOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0340	SISTEMAS GERENCIADORES DE BANCO DE DADOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0341	REDES DE COMPUTADORES 1 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0174	PROJETO FINAL DE CURSO 1 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0290	PROJETO DE SOFTWARE - 64h	DISCIPLINA	NC	OBRIG.
INF0338	COMPUTAÇÃO GRÁFICA - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0342	INTELIGÊNCIA ARTIFICIAL - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0344	SISTEMAS DISTRIBUÍDOS - 64h	DISCIPLINA	NE-Obr	OBRIG.
FAL0214	INTRODUÇÃO À LÍNGUA BRASILEIRA DE SINAIS - LIBRAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0294	ENGENHARIA DE SISTEMAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0321	SEGURANÇA E AUDITORIA DE SISTEMAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0322	DESENVOLVIMENTO DE SISTEMAS PARA WEB - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0327	EMPREENDEDORISMO DIGITAL - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0328	COMPUTAÇÃO MÓVEL E UBÍQUA - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0343	REDES DE COMPUTADORES 2 - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0354	APRENDIZAGEM DE MÁQUINA E MINERAÇÃO DE DADOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0355	ARMAZÉM DE DADOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0356	AVALIAÇÃO DE DESEMPENHO DE SISTEMAS COMPUTACIONAIS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0357	BANCO DE DADOS DISTRIBUÍDOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0358	COMPUTAÇÃO EVOLUCIONÁRIA - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0359	COMPUTAÇÃO VERDE - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0360	DESENVOLVIMENTO DE SOFTWARE DIRIGIDO POR MODELOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0361	ENGENHARIA DE SOFTWARE BASEADA EM BUSCA - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0362	FUNDAMENTOS DA PROGRAMAÇÃO LÓGICA E FUNCIONAL - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0363	INTEGRAÇÃO DE DADOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0364	INTRODUÇÃO À TEORIA DAS PROVAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0365	INTRODUÇÃO À TEORIA DOS TIPOS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0366	JOGOS DIGITAIS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0367	META-HEURÍSTICAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0368	METODOLOGIA E EXPERIMENTAÇÃO EM ENGENHARIA DE SOFTWARE - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0369	MICROCONTROLADORES - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0370	PROCESSAMENTO DIGITAL DE IMAGENS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0371	RECUPERAÇÃO DE INFORMAÇÃO - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0372	REDES NEURONAIS ARTIFICIAIS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0373	SISTEMAS MULTIAGENTES - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0374	TÓPICOS AVANÇADOS EM REDES SEM FIO - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0375	TÓPICOS EM COMPUTAÇÃO - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0376	TÓPICOS EM TESTE DE SOFTWARE - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0377	VERIFICAÇÃO FORMAL DE PROGRAMAS - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0378	VISÃO ROBÓTICA - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0379	VISUALIZAÇÃO DE INFORMAÇÕES - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0380	WEB SEMÂNTICA - 64h	DISCIPLINA	NE-Opt	OPTAT.
INF0177	PROJETO FINAL DE CURSO 2 - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0289	INTERAÇÃO HUMANO-COMPUTADOR - 64h	DISCIPLINA	NC	OBRIG.
INF0337	COMPILADORES - 64h	DISCIPLINA	NE-Obr	OBRIG.
INF0345	COMPUTAÇÃO PARALELA - 64h	DISCIPLINA	NE-Obr	OBRIG.
"""

In [4]:
# Vamos tratar o dataset adicionando uma coluna "núcleo" que indica
# NC para núcleo comum e NE para núcleo específico.

tabela1 = tabela_nucleo(info1, 'CICOMP-BI-2')
tabela2 = tabela_nucleo(info2, 'CICOMP-BI-3')
tabela_final = tabela1.append(tabela2)
dataset = pd.merge(dataset, tabela_final, how='inner', on=['codigo_componente', 
                                                           'codigo_matriz_curricular'])

In [5]:
# Função que calcula a média por período para cada aluno para um determinado
# tipo de disciplina
def media(coluna, chave, nome):
    tmp = dataset[dataset[coluna].str.contains(chave)]\
    [['id', 'nome_componente', 'nota_discente_componente', 'semestre_cursado']]\
    .groupby(by=['id', 'semestre_cursado'])\
    .agg([np.mean])\
    .reset_index()
    
    tmp.columns = tmp.columns.get_level_values(0)
    return tmp.rename(columns={
        "nota_discente_componente" : nome
    })

# Função que calcula a quantidade de reprovações por período para cada aluno
# para um determinado tipo de disciplina
def reprovacoes(coluna, chave, nome):
    tmp = dataset[dataset[coluna].str.contains(chave)]\
    [['id', 'nome_componente', 'nota_discente_componente', 'semestre_cursado']]

    tmp['nota_discente_componente'] = tmp['nota_discente_componente']\
    .apply(lambda x: 0 if x >= 6.0 else 1)

    tmp = tmp\
    .groupby(by=['id', 'semestre_cursado'])\
    .agg([np.sum])\
    .reset_index()\
    .drop(columns=['nome_componente'])\
    .rename(columns={
        "nota_discente_componente" : nome
    })
    tmp.columns = tmp.columns.get_level_values(0)
    return tmp

In [6]:
dataframes = [ 
# Média em disciplinas de programação
media('codigo_componente', 'INF', 'media_programacao'),
# Média em disciplinas básicas de matemática
media('codigo_componente', 'IME', 'media_matematica'),
# Média em disciplinas do núcleo específico
media('nucleo', 'NE', 'media_NE'),    
# Média em disciplinas do núcleo comum
media('nucleo', 'NC', 'media_NC'),
# Quantidade de reprovações em disciplinas de programação
reprovacoes('codigo_componente', 'INF', 'reprovacoes_programacao'),
# Quantidade de reprovações em disciplinas básicas de matemática
reprovacoes('codigo_componente', 'IME', 'reprovacoes_matematica'),
# Quantidade de reprovações em disciplinas do núcleo específico
reprovacoes('nucleo', 'NE', 'reprovacoes_NE'),    
# Quantidade de reprovações em disciplinas do núcleo comum
reprovacoes('nucleo', 'NC', 'reprovacoes_NC'),    
]

df = \
reduce(lambda x,y: pd.merge(x,
                            y,
                            how='outer', 
                            on=['id', 'semestre_cursado']), dataframes)

# Quantidade de trancamentos
trancamentos = \
dataset[['id', 'quantidade_trancamentos']].drop_duplicates().fillna(0.0).astype(int)

df = pd.merge(df, trancamentos, how='outer', on='id')

/home/luana/miniconda3/envs/IA/lib/python3.7/site-packages/pandas/core/generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [7]:
df.head()

,id,semestre_cursado,media_programacao,media_matematica,media_NE,media_NC,reprovacoes_programacao,reprovacoes_matematica,reprovacoes_NE,reprovacoes_NC,quantidade_trancamentos
0,1,3,5.900,NaN,NaN,5.900000,1.0,NaN,NaN,1.0,1
1,1,4,7.200,7.3,NaN,7.233333,0.0,0.0,NaN,0.0,1
2,1,5,5.675,5.2,NaN,5.483333,3.0,1.0,NaN,5.0,1
3,1,6,5.180,NaN,3.800000,5.525000,3.0,NaN,1.0,2.0,1
4,1,7,4.920,NaN,4.833333,5.050000,3.0,NaN,2.0,1.0,1

In [8]:
df.sort_values(by=['id', 'semestre_cursado'])

,id,semestre_cursado,media_programacao,media_matematica,media_NE,media_NC,reprovacoes_programacao,reprovacoes_matematica,reprovacoes_NE,reprovacoes_NC,quantidade_trancamentos
0,1,3,5.900000,NaN,NaN,5.900000,1.0,NaN,NaN,1.0,1
1,1,4,7.200000,7.30,NaN,7.233333,0.0,0.0,NaN,0.0,1
2,1,5,5.675000,5.20,NaN,5.483333,3.0,1.0,NaN,5.0,1
3,1,6,5.180000,NaN,3.800000,5.525000,3.0,NaN,1.0,2.0,1
4,1,7,4.920000,NaN,4.833333,5.050000,3.0,NaN,2.0,1.0,1
5,1,8,4.600000,4.20,3.700000,5.366667,4.0,1.0,3.0,2.0,1
6,1,9,5.283333,NaN,5.240000,5.500000,5.0,NaN,4.0,1.0,1
7,1,10,4.733333,NaN,4.733333,9.000000,2.0,NaN,2.0,0.0,1
8,1,11,6.350000,NaN,5.620000,10.000000,4.0,NaN,4.0,0.0,1
9,1,12,2.350000,NaN,2.550000,2.150000,4.0,NaN,2.0,2.0,1
10,1,13,5.025000,NaN,3.100000,6.950000,2.0,NaN,2.0,0.0,1
11,1,15,6.550000,6.90,7.066667,5.950000,1.0,0.0,0.0,1.0,1
12,2,1,6.800000,4.00,NaN,6.100000,1.0,1.0,NaN,2.0,0
13,2,2,7.600000,7.20,NaN,7.680000,1.0,0.0,NaN,1.0,0
14,2,3,5.600000,6.85,NaN,6.016667,2.0,0.0,NaN,2.0,0
15,2,4,7.200000,NaN,6.000000,7.500000,0.0,NaN,0.0,0.0,0
16,2,6,8.000000,NaN,8.950000,7.933333,1.0,NaN,0.0,1.0,0
17,2,7,8.316667,NaN,8.140000,9.200000,1.0,NaN,1.0,0.0,0
18,2,8,8.166667,9.10,8.160000,8.650000,0.0,0.0,0.0,0.0,0
19,2,9,6.800000,NaN,6.800000,NaN,1.0,NaN,1.0,NaN,0
20,3,1,6.966667,2.80,NaN,5.925000,1.0,1.0,NaN,2.0,0
21,3,2,7.266667,2.90,NaN,5.880000,1.0,1.0,NaN,3.0,0
22,3,3,7.766667,9.45,NaN,8.440000,0.0,0.0,NaN,0.0,0
23,3,4,7.780000,NaN,7.300000,7.900000,0.0,NaN,0.0,0.0,0
24,3,5,8.080000,8.00,8.050000,8.100000,0.0,0.0,0.0,0.0,0
25,3,6,6.880000,NaN,6.875000,6.900000,0.0,NaN,0.0,0.0,0
26,3,7,8.275000,NaN,8.200000,8.500000,0.0,NaN,0.0,0.0,0
27,3,8,8.500000,NaN,8.600000,8.475000,0.0,NaN,0.0,0.0,0
28,3,9,7.900000,5.10,7.933333,6.233333,1.0,1.0,1.0,2.0,0
29,3,10,10.000000,NaN,10.000000,NaN,0.0,NaN,0.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
4930,824,1,8.800000,6.60,NaN,8.250000,0.0,0.0,NaN,0.0,0
4931,825,1,7.300000,6.40,NaN,7.075000,0.0,0.0,NaN,0.0,0
4932,826,1,5.233333,1.20,NaN,4.225000,1.0,1.0,NaN,2.0,0
4933,827,1,7.533333,4.40,NaN,6.750000,0.0,1.0,NaN,1.0,0
4934,828,1,5.700000,0.30,NaN,4.350000,1.0,1.0,NaN,2.0,0
4935,829,1,7.333333,5.60,NaN,6.900000,1.0,1.0,NaN,2.0,0
4936,830,1,9.433333,8.60,NaN,9.225000,0.0,0.0,NaN,0.0,0
4937,831,1,5.566667,3.20,NaN,4.975000,1.0,1.0,NaN,2.0,0
4938,832,1,7.900000,6.50,NaN,7.550000,0.0,0.0,NaN,0.0,0
4939,833,1,7.366667,7.80,NaN,7.475000,0.0,0.0,NaN,0.0,0
4940,834,1,7.533333,0.30,NaN,5.725000,1.0,1.0,NaN,2.0,0
4941,835,1,3.400000,NaN,NaN,3.400000,2.0,NaN,NaN,2.0,0
4942,836,1,4.066667,0.80,NaN,3.250000,2.0,1.0,NaN,3.0,0
4943,837,1,8.233333,6.60,NaN,7.825000,0.0,0.0,NaN,0.0,0
4944,838,1,6.166667,4.90,NaN,5.850000,1.0,1.0,NaN,2.0,0
4945,839,1,5.100000,0.00,NaN,3.825000,1.0,1.0,NaN,2.0,0
4946,840,1,8.400000,6.10,NaN,7.825000,0.0,0.0,NaN,0.0,0
4947,841,1,1.266667,NaN,NaN,1.266667,3.0,NaN,NaN,3.0,0
4948,842,1,5.666667,1.70,NaN,4.675000,2.0,1.0,NaN,3.0,0
4949,843,1,2.000000,0.10,NaN,1.525000,2.0,1.0,NaN,3.0,0
4950,844,1,8.533333,7.90,NaN,8.375000,0.0,0.0,NaN,0.0,0
4951,845,1,4.233333,1.40,NaN,3.525000,2.0,1.0,NaN,3.0,0
4952,846,1,8.833333,NaN,NaN,8.833333,0.0,NaN,NaN,0.0,0
4953,847,1,3.933333,0.00,NaN,2.950000,2.0,1.0,NaN,3.0,0
4954,848,1,8.966667,7.20,NaN,8.525000,0.0,0.0,NaN,0.0,0
4955,849,1,5.166667,4.90,NaN,5.100000,2.0,1.0,NaN,3.0,0
4956,850,1,8.200000,6.30,NaN,7.725000,0.0,0.0,NaN,0.0,0
4957,851,1,3.333333,0.20,NaN,2.550000,2.0,1.0,NaN,3.0,0
4958,852,1,0.100000,0.00,NaN,0.075000,3.0,1.0,NaN,4.0,0
4959,853,1,4.800000,0.40,NaN,3.700000,2.0,1.0,NaN,3.0,0

In [9]:
df.sort_values(by=['id', 'semestre_cursado']).to_csv('fuzzy_dataset.csv')

## Treinamento e Classificação dos dados: Luana Guedes Barros Martins

O termo Fuzzy significa coisas que não são muito claras ou vagas. Na vida real, podemos nos deparar com uma situação em que não podemos decidir se a afirmação é verdadeira ou falsa. No problema de classificação de bom ou mal aluno não é diferente. Um aluno não pode ser simplesmente classificado como bom ou mal aluno, para isso utilizaremos de um sistema fuzzy para classificar um aluno como bom, médio ou mal aluno.

Para isso iremos utilizar a API [Scikit-Fuzzy](https://scikit-fuzzy.readthedocs.io/en/latest/overview.html)

In [13]:
# Para instalar a API
!pip install -U scikit-fuzzy

Requirement already up-to-date: scikit-fuzzy in /home/luana/miniconda3/envs/IA/lib/python3.7/site-packages (0.4.1)
Requirement already satisfied, skipping upgrade: scipy>=0.9.0 in /home/luana/miniconda3/envs/IA/lib/python3.7/site-packages (from scikit-fuzzy) (1.3.0)
Requirement already satisfied, skipping upgrade: numpy>=1.6.0 in /home/luana/miniconda3/envs/IA/lib/python3.7/site-packages (from scikit-fuzzy) (1.16.4)
Requirement already satisfied, skipping upgrade: networkx>=1.9.0 in /home/luana/miniconda3/envs/IA/lib/python3.7/site-packages (from scikit-fuzzy) (2.3)
Requirement already satisfied, skipping upgrade: decorator>=4.3.0 in /home/luana/miniconda3/envs/IA/lib/python3.7/site-packages (from networkx>=1.9.0->scikit-fuzzy) (4.4.0)

In [14]:
# Importar a API
import skfuzzy as fuzz

In [10]:
# Carregando dataset

dataset = pd.read_csv('fuzzy_dataset.csv')
dataset.head()

,Unnamed: 0,id,semestre_cursado,media_programacao,media_matematica,media_NE,media_NC,reprovacoes_programacao,reprovacoes_matematica,reprovacoes_NE,reprovacoes_NC,quantidade_trancamentos
0,0,1,3,5.900,NaN,NaN,5.900000,1.0,NaN,NaN,1.0,1
1,1,1,4,7.200,7.3,NaN,7.233333,0.0,0.0,NaN,0.0,1
2,2,1,5,5.675,5.2,NaN,5.483333,3.0,1.0,NaN,5.0,1
3,3,1,6,5.180,NaN,3.800000,5.525000,3.0,NaN,1.0,2.0,1
4,4,1,7,4.920,NaN,4.833333,5.050000,3.0,NaN,2.0,1.0,1